_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
*.tex 
*.aux
*.blg
*.out
*.toc
*.log
*.bbl
*.sh
*.swp
*.bib
*.swo
pdfs/references
pdfs/307/0008098.pdf
pdfs/307/000book.pdf.desktop
pdfs/307/polynomialmethod1.pdf

